body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Comfortaa', cursive;
    animation: fadeIn 2s;
}

.pos-fix {
    position: fixed;
    width: 88%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.nav-links>* {
    margin-right: 20px;
}

#blue {
    display: inline-block;
    color: black;
    padding-top: 10px;
    text-decoration: none;
    position: relative;
}

#blue:hover {
    color: blue;
}

#blue:hover::before {
    width: 100%;
}

#blue::before {
    content: '';
    display: block;
    height: 5px;
    background-color: blue;

    position: absolute;
    top: 0%;
    width: 0%;
    transition: ease-in-out 250ms;
}

.nav-name {
    text-align: center;
    position: relative;
    bottom: 85px;
    font-weight: bolder;
    z-index: -1;
    background-color: white;
    padding: 40px 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.fa-brands {
    color: black;
    font-size: larger;
    transition: .2s;
}

.fa-brands:hover {
    color: blue;
}

.resume {
    color: blue;
    font-weight: 300;
    text-decoration: none;
    border: 1px blue solid;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    transition: 250ms;
    z-index: 9;
}

.resume:hover {
    background-color: blue;
    color: white;
}

.phone {
    color: black;
    font-size: 30px;
    position: relative;
    top: 5px;
    margin-left: 20px;
    transition: .2s;
}

.phone:hover {
    color: blue;
}

.intro-div {
    display: flex;
    position: relative;
    top: 100px;
}

.my-face {
    margin-right: 60px;
    border-radius: 20px;
    transition: .2s;
}

.my-face:hover {
    border-radius: 0;
}

.hello {
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hello2 {
    font-weight: lighter;
}

.small-intro {
    font-size: 50px;
    font-weight: bolder;
}


.tech-div {
    margin-top: 120px;
    text-align: center;
}

#tech-label {
    margin-top: 50px;
}

.techs {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.tech-img {
    width: 50px;
    transition: .5s;
}

.tech-img:hover {
    width: 55px;
}

/* TEXT BANNER */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#text-banner {
    display: none;
    position: absolute;
    bottom: -85px;
    animation: fadeIn .5s;
    text-align: center;
}

.indie-tech-div:hover>#text-banner {
    display: block;
}

/*  */

.project-div {
    /* text-align: center; */
    margin-top: 100px;
}

/* SLIDESHOW ANIMATION */
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: white;
    background-color: rgba(0, 0, 0, 0.537);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    /* left: 250px; */
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* JELLO SLIDE */
.slideshow-container1 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides1 {
    display: none;
}


/* Caption text */
.text1 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.537);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    /* left: 250px; */
}

.active1 {
    background-color: #717171;
}

/* Fading animation */
.fade1 {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* QUILLED SLIDE */
.slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides2 {
    display: none;
}


/* Caption text */
.text2 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.537);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    /* left: 250px; */
}

.active2 {
    background-color: #717171;
}

/* Fading animation */
.fade2 {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* SNACK SLIDE */
.slideshow-container3 {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides3 {
    display: none;
}


/* Caption text */
.text3 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.537);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    /* left: 250px; */
}

.active3 {
    background-color: #717171;
}

/* Fading animation */
.fade3 {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* PHOTONEST */
.site-div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    border-bottom: #717171 solid 1px;
}



.site-label {
    position: relative;
    bottom: 15px;
}

.site-right {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    max-width: 50%;
    min-width: 50%;
}

.site-btns {
    position: relative;
    right: 50px;
}

.text-desc {
    text-align: start;
    margin-top: 150px;
    font-size: 20px;
}

/*  */
